@import url("https://use.typekit.net/tni5gmg.css");

body{
  background-color: #f0e9df;
}

body, h1, div.page-info{
  font-family: ivypresto-display, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 44px;
  letter-spacing: 2px;
  display: inline;
}

h1::before{
    content: '\2605';
}

h3{
    font-weight: 300;
    font-style: italic;
    font-size: 24px; 
}

header{
    position: fixed;
    bottom: 0;
    padding: 16px;
    transition: color 0.5s;
    background-color: #f0e9df;
    
}

header.white{
    color: #FFFFFF;
    background-color: #0f100f;
}




section{
    background-color: #f0e9df; 
    min-height: 110vh;
    padding: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    height: 50vh;
}

section.section-2, section.section-4{
    background-color: #0f100f;
    color: #f0e9df;
}

div.biography{
    display:flex;
    flex-direction: row;
    margin-top: 60px;
}

div.left{
    margin-right: 20px;
}

div.right{
    margin-left: 20px;
}

div#page-1{
    display:flex;
    flex-direction: column;
}



div.biography p{
    margin-left: 20px;
    font-size: 40px;
    max-width: 75vmin;
}
